<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <padavivachatbot>
            <general>
                <enable>1</enable>
                <clean_logs_after_hours>48</clean_logs_after_hours>
            </general>
        </padavivachatbot>
    </default>
</config>